a {
  text-decoration: none;
}
    html {
      height: 100%;
    }


  header {
          background-color: blue;
          padding: 2px;
          font-size: 35px;
          display: block;
          margin: 0px;
          text-align: center;
          border: 5px solid black;
  }
  nav {
       float: left;
   }
   nav ul {
       padding: 10px;
       float: left;
       border-bottom: ;
       list-style-type: none;
       background-color: green;
       border: 5px solid black;
       text-align: left;
       margin: 0px;
       font-size: 24px;
       width: 970px;
   }

   body {
       width: 1000px;
       height: 100%;
       margin: 0 auto;
    }
   nav li {
       float: left;
   }
   nav li a {
       display: block;
       height: 25px;
       padding: 12px 18px 8px 18px;
       vertical-align: middle;
   }


  section {
    width: 99%;
    display: inline-block;
    float: center;
    margin: 0px ;
    border: 5px solid black;

  }

  footer ul {
    padding: 0.5px;
         float: left;
         border-bottom: ;
         background-color: blue;
         border: 5px solid black;
         text-align: center;
         margin: 0px;
         font-size: 24px;
         width: 989px;
  }
